<!-- Machine Learning for Public Policy Project: TextInsighters
Homepage, showcases what our site can do with links to other components
Created by: Vi Nguyen, Sirui Feng, Turab Hassan, and Tom Tjarosz
-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% include "textinsighters/head.html" %}

<body>

    <div class="brand">TextInsighters</div>
    <div class="address-bar">A Machine Learning for Public Policy Project</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="suggestion">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators 
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol> -->

                        <!-- Wrapper for slides 
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/home.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/slide-2.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/slide-3.jpg' %}" alt="">
                            </div>
                        </div>-->
                            
                        <!--<link href="{% static 'textinsighters/css/bootstrap.min.css' %}" rel="stylesheet">-->

                        <!-- Controls 
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                        -->
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">TextInsighters</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong> <a href="https://www.linkedin.com/in/siruifeng" target="_blank">Sirui Feng</a>, 
                                    <a href="https://pk.linkedin.com/in/turab-hassan-2b477b7b" target="_blank">Turab Hassan</a>,
                                    <a href="https://www.linkedin.com/in/vinguyen613" target="_blank">Vi Nguyen</a>, and 
                                    <a href="https://www.linkedin.com/in/tom-jarosz-4096a760" target="_blank">Tom Jarosz</a> </strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Choose your institution below to see the top complaints, suggestions, and compliments derived from reviews on Yelp </strong> 
                    <br> </br>
                    <form id="user_input_form" method="post" action="http://127.0.0.1:8000/textinsighters/suggestion">
                        {% csrf_token %}
                        {{ form }}
                        <datalist id="browsers">
                            <option value="Internet Explorer">
                            <option value="Firefox">
                            <option value="Chrome">
                            <option value="Opera">
                            <option value="Safari">
                            <option value="emma">    
                        </datalist>
                        <button onclick="myFunction()">LET'S SEE THE INSIGHTS</button>
                    </form>
                    <br> </br>
                    <br> </br>
                    </h2>

                    <script>
                        function myFunction() {
                        //document.getElementById("id_business_name").value = document.getElementById("user_input").value;
                        document.getElementById("user_input_form").submit();
                        }
                    </script>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Uncover insights from the noise of 
                        your Yelp reviews</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <p>A huge thanks to <a href="http://www.rayidghani.com/" target="_blank">Rayid Ghani</a> for inspiring and guiding us on this project.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; TextInsighters 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'textinsighters/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
