<!-- Machine Learning for Public Policy Project: TextInsighters
Homepage, showcases what our site can do with links to other components
Created by: Vi Nguyen, Sirui Feng, Turab Hassan, and Tom Tjarosz
-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% include "textinsighters/head.html" %}

<body>

    <div class="brand">TextInsighters</div>
    <div class="address-bar">A Machine Learning for Public Policy Project</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="suggestion">TextInsighters</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="suggestion">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators 
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol> -->

                        <!-- Wrapper for slides 
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/home.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/slide-2.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'textinsighters/img/slide-3.jpg' %}" alt="">
                            </div>
                        </div>-->
                            
                        <!--<link href="{% static 'textinsighters/css/bootstrap.min.css' %}" rel="stylesheet">-->

                        <!-- Controls 
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                        -->
                    </div>
                    <h2 class="brand-before">
                       <strong>Uncover insights from
                        your Yelp reviews</strong>
                    </h2>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong> <a href="https://www.linkedin.com/in/siruifeng" target="_blank">Sirui Feng</a>, 
                                    <a href="https://pk.linkedin.com/in/turab-hassan-2b477b7b" target="_blank">Turab Hassan</a>,
                                    <a href="https://www.linkedin.com/in/vinguyen613" target="_blank">Vi Nguyen</a>, &
                                    <a href="https://www.linkedin.com/in/tom-jarosz-4096a760" target="_blank">Tom Jarosz</a> </strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <hr class="visible-xs">
                    <h2 class="intro-text text-center">
                    <p>
                    <strong><center>Choose your institution below to see the top complaints, suggestions, and compliments derived from reviews on Yelp </center></strong> 
                    </p>
                    <form id="user_input_form" method="post" action="http://127.0.0.1:8000/textinsighters/suggestion">
                        {% csrf_token %}
                        {{ form }}
                        <datalist id="browsers">
                            <option value="McCormick-Stillman Railroad Park">
                            <option value="Las Vegas Mini Gran Prix Family Fun Center">
                            <option value="Machinery Row Bicycles">
                            <option value="Bike Emporium">
                            <option value="JCC of Greater Pittsburgh">
                            <option value="Speedway Raceway">
                            <option value="Spring Meadows Presbyterian Church">
                            <option value="Orpheum Children's Science Museum">
                            <option value="Desert Title Service">
                            <option value="Carowinds">
                            <option value="Wood Street Galleries">
                            <option value="Abrazo Scottsdale Campus">
                            <option value="St Elizabeth Ann Seton Catholic Church">
                            <option value="MountainView Hospital">
                            <option value="Strikers Soccer Center">
                            <option value="Waterworld Safari Water Park">
                            <option value="A&A Mailing Services Plus">
                            <option value="Hart-Witzen Gallery">
                            <option value="United House of Prayer For All People">
                            <option value="Desert Botanical Garden">
                            <option value="Charlotte Douglas International Airport">
                            <option value="Belmont Post Office">
                            <option value="Posters Mostly & Custom Framing">
                            <option value="Mesquite Branch Library">
                            <option value="National Aviary">
                            <option value="Christian Embassy Worship Center">
                            <option value="Mesa Arts Center">
                            <option value="Presbyterian Hospital">
                            <option value="Greyhound Bus Lines">
                            <option value="Champaign Public Library">
                            <option value="St Francis of Assisi Catholic Church">
                            <option value="Modified Arts">
                            <option value="The Ocean Floor">
                            <option value="Octane Raceway">
                            <option value="Wildlife World Zoo & Aquarium">
                            <option value="Carnegie Library of Pittsburgh">
                            <option value="Palm Valley Church | Goodyear Campus">
                            <option value="Desert Cove Nursing Center">
                            <option value="Presbyterian Hospital">
                            <option value="Clark County Government Center">
                            <option value="Tempe History Museum">
                            <option value="Tempe Diablo Stadium">
                            <option value="Alwun House">
                            <option value="First Presbyterian Church of Pittsburgh">
                            <option value="Phoenix First">
                            <option value="Greyhound Bus Lines">
                            <option value="Ace Cab Company">
                            <option value="Mike Feinberg Company">
                            <option value="24/7 Limousines">
                            <option value="Arizona Outback Adventures - AOA">
                            <option value="Pittsburgh Zoo & PPG Aquarium">
                            <option value="Church of St Anne Roman Catholic">
                            <option value="Yellow Cab">
                            <option value="Art One Gallery">
                            <option value="Amtrak">
                            <option value="Goldfield Ghost Town & Mine Tours">
                            <option value="Arizona Animal Welfare League & SPCA">
                            <option value="St Andrew the Apostle Catholic Church">
                            <option value="Chandler Regional Medical Center">
                            <option value="Carolinas Medical Center-Pineville">
                            <option value="Union Cab of Madison">
                            <option value="First Christian Church">
                            <option value="Yellow Cab">
                            <option value="The Trunk Space">
                            <option value="Sunflower Rv Resort">
                            <option value="Hall of Flame Fire Museum">
                            <option value="Dane County Humane Society">
                            <option value="United Blood Services">
                            <option value="Amtrak">
                            <option value="United States Post Office Founder's Hall">
                            <option value="Banner Thunderbird Medical Center">
                            <option value="Canyon Ridge Christian Church">
                            <option value="Banner - University Medical Center Phoenix">
                            <option value="Talking Stick Resort Arena">
                            <option value="Century Branch Library">
                            <option value="AMF Shea Village Lanes">
                            <option value="The Paper Heart Gallery">
                            <option value="Triple A Yellow Cab">
                            <option value="Arizona Science Center">
                            <option value="The Coffee Gallerie">
                            <option value="Carnegie Library of Pittsburgh">
                            <option value="Cactus Bike">
                            <option value="Liberty Baptist Church">
                            <option value="Phoenix Greyhound Park">
                            <option value="Humane Society of Charlotte">
                            <option value="Framin' Works">
                            <option value="Madison Children's Museum">
                            <option value="Soldiers & Sailors Memorial Hall & Museum">
                            <option value="Lost Duffer Miniature Golf">
                            <option value="Duquesne Incline">
                            <option value="Historic Latta Plantation">
                            <option value="Cornerstone Christian Fellowship">
                            <option value="Carnegie Library of Pittsburgh, Main Library">
                            <option value="Mint Museum of Craft & Design">
                            <option value="John C Lincoln Health Network">
                            <option value="Garfield Artworks">
                            <option value="Arizona State Fair Information">
                            <option value="The Arts Factory">
                            <option value="Laser Quest">
                            <option value="Greyhound Bus Lines">
                            <option value="St Bernadette Catholic Church Parish Office">
                            <option value="Banner Heart Hospital">
                            <option value="McColl Center For Visual Art">
                            <option value="Elder Gallery">
                            <option value="Bank of America Stadium">
                            <option value="Abrazo West Campus">
                            <option value="Animal Rescue League Shelter & Wildlife Center">
                            <option value="Sun City Express">
                            <option value="Scottsdale Stadium">
                            <option value="Port Authority of Allegheny County">
                            <option value="Great Skate">
                            <option value="Heard Museum">
                            <option value="L & J Motor Vehicle Services">
                            <option value="The Edgewood Club">
                            <option value="Phoenix Art Museum">
                            <option value="Abrazo Arrowhead Campus">
                            <option value="Phoenix Sky Harbor International Airport - PHX">
                            <option value="Laser Quest -Charlotte">
                            <option value="St George Antiochian Orthodox Church">
                            <option value="CLS Las Vegas">
                            <option value="Seven Hills Surgery Center">
                            <option value="HonorHealth Scottsdale Osborn Medical Center">
                            <option value="St. Patrick Catholic Community">
                            <option value="Frick Art & Historical Center">
                            <option value="United Blood Services - Chandler">
                            <option value="Charlotte Art League">
                            <option value="St Joan of Arc Catholic Church">
                            <option value="Williamson Bikes & Fitness">
                            <option value="Carnegie Museums of Pittsburgh">
                            <option value="Maddi's Gallery">
                            <option value="Historic Heritage Square">
                            <option value="Phoenix Indian Medical Center">
                            <option value="Sahara Surgery Center">
                            <option value="John C Lincoln Deer Valley Hospital">
                            <option value="Discovery Place">
                            <option value="Sundance Travel Service">
                            <option value="Chandler Public Library">
                            <option value="ABC Union Cab Co">
                            <option value="Prestige Senior Living at Mira Loma">
                            <option value="Fintastic">
                            <option value="Charlotte Museum Of History">
                            <option value="American Red Cross">
                            <option value="Door Creek Church">
                            <option value="St Mary of Mercy Church">
                            <option value="Southern Nevada Health District">
                            <option value="Black Canyon City Koa">
                            <option value="Monster Framing & Art Gallery">
                            <option value="Champaign County Humane Society">
                            <option value="First Class Limousine Service">
                            <option value="The Heard Museum North Scottsdale">
                            <option value="Carolinas Aviation Museum">
                            <option value="St Nicholas Greek Orthodox Cathedral">
                            <option value="Phoenix Zoo">
                            <option value="Desert Spring United Methodist Church">
                            <option value="St. Joseph's Hospital & Medical Center">
                            <option value="Pueblo Grande Museum and Archaeological Park">
                            <option value="Scottsdale Historical Museum">
                            <option value="Bike Shop">
                            <option value="Scottsdale Bible Church">
                            <option value="Mt Lebanon Public Library">
                            <option value="Levine Museum of the New South">
                            <option value="Castles N' Coasters">
                            <option value="Landis Cyclery">
                            <option value="Cosanti Originals">
                            <option value="Enchanted Island Amusement Park">
                            <option value="Challenger Space Center">
                            <option value="Banner Desert Medical Center">
                            <option value="Desert Mission Food Bank">
                            <option value="Global Bikes - Ahwatukee">
                            <option value="Transtyle">
                            <option value="Elite Coach Limousine">
                            <option value="Oasis Community Church">
                            <option value="Pittsburgh Steelers">
                            <option value="Henderson Executive Airport">
                            <option value="St Mary's Basilica Catholic Church">
                            <option value="Western Pennsylvania Humane Society">
                            <option value="Carolinas Medical Center-Mercy">
                            <option value="Hall of Frames">
                            <option value="Sette Lisa Gallery">
                            <option value="AMF Squaw Peak Lanes">
                            <option value="Olbrich Botanical Gardens">
                            <option value="Pottery Central">
    
                        </datalist>
                        <button onclick="myFunction()">LET'S SEE THE INSIGHTS</button>
                    </form>
                    <br> </br>
                    <br> </br>
                    </h2>

                    <script>
                        function myFunction() {
                        document.getElementById("user_input_form").submit();
                        }
                    </script>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <p> <center> A huge thanks to <a href="http://www.rayidghani.com/" target="_blank">Rayid Ghani</a> and 
                    <a href="https://twitter.com/gustavla" target="_blank">Gustav Larsson</a> for enabling and guiding us on this project. </center></p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; TextInsighters 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'textinsighters/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
