<!-- Machine Learning for Public Policy Project: TextInsighters
Homepage, showcases what our site can do with links to other components
Created by: Vi Nguyen, Sirui Feng, Turab Hassan, and Tom Tjarosz
-->

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

{% include "textinsighters/head.html" %}

<body onload="myFunction()">

    <div class="brand">TextInsighters</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">TextInsighters</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="suggestion">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Company
                        <strong>blog</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/slide-1.jpg" alt="">
                    <h2>Suggestion for User 
                        <br>
                    </h2>
                    <div id="div1">
                        <p id="p1">Suggestions</p>
                    </div>
                    <hr>
                </div>
                
                <script type="text/javascript" language="javascript">

                function myFunction() {

                    {% for line in user_sugg %}
                    var para = document.createElement("p");
                    var node = document.createTextNode( ' {{line}} ' );
                    para.appendChild(node);
                    var element = document.getElementById("div1");
                    element.appendChild(para);
                    {% endfor %}
                    
                    }
                </script>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; TextInsighters 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
